h1 {
    text-align: center;
    border-bottom: 2px solid #EFC69B;
}

nav {
    text-align: right;
    border-bottom: 2px solid #EFC69B;
    padding-bottom: 10px;
    word-spacing: 30px;

}

nav a {
    text-decoration: none;
    color: red;
}


.book1 {
    grid-column: 3/3;
    margin: 0;
}

.bookone {
    text-align: center;
    
}

.bookone h2 {
    color: red;
    
}

.bookone p {
    
    max-width: 500px;
    margin: 0 auto;
}
.bookone img {
    max-width: 30%;
}




@media (min-width:600px) {

    
    .book-layout {
        display: grid;
        grid-template-columns: 1fr 2fr;  /* left narrow, right wider (like the example) */
        
    }
    .book-info {
        border-top: none;
        border-right: 2px solid #EFC69B;
        padding-right: 20px;   /* some spacing */
        margin-top: 20px;
        padding-left: 300px;
        text-align: right;
    }
    
    .book-details {
        padding-left: 20px;
    }   

    footer {
        border-bottom: 2px solid #EFC69B;
        margin-top: 200px;
    }
}

