#title {
    display: flex;
    justify-content: center;
}

#title img {
    max-width: 100px;
}

#SearchBar input {
    size: 400px;
}
#SearchBar img{
    max-width: 30px;
}

#recipes {
    border: solid black 2px;
    border-radius: 15px;
}

#recipes img{
    max-width: 450px;
}

#recipes h1 {
    border: solid gray 2px;
    background-color: lightgray;
    width: 120px;
    margin: 2px;
}