.recipe-box {
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;   /* space between boxes */
    background: white;
    max-width: 900px;
}



#title {
    display: flex;
    justify-content: center;

}

#title img {
    max-width: 100px;
}

#title h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
}

#SearchBar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 2px;
    border-radius: 7px;
    max-width: 495px;
    margin-left: 8px;
}
#Searchbar {
    size: 400px;
    width: 450px;
    height: 30px;
}
#SearchBar img{
    max-width: 30px;
}

#recipes-container {
   
    border-radius: 10px;
    max-width: fit-content;
    margin-left: 20px;
}

#recipes-container img{
    max-width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#recipes-container h1 {
    border: none;
    background: none;
    padding: 0;
    margin: 0 0 10px 0;
}

#recipes-container h2 {
    /* width: 120px; */
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:cornflowerblue;
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
}

#recipes-container p {
    display: none;
}

.rating {
    margin-left: 20px;
    display: block;
    margin-bottom: 20px;
}

.social {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
}

.social img {
    width: 30px;
    height: 30px;
}

#iconweb {
    display: block;
    text-align: center;
}

@media screen and (min-width: 550px) {

   
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #title {
        width: 50%;
        max-width: 600px;        /* prevents becoming too wide */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #title img {
        max-width: 120px;
    }

    #title h1 {
        font-size: 60px;
        text-align: center;
    }

    #recipes-container {
        
        border-radius: 10px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }


    #recipes-container img {
        margin-right: 30px;
        max-width: 450px;
    }

    .recipe-info {
        display: flex;
        flex-direction: column;
    }

    #recipes-container p {
        display: block;
        max-width: 450px;
        margin-top: 10px;
    }

    .rating {
        margin-bottom: 20px;
    }

    #SearchBar {
        width: 100%;
        max-width: 1000px;
    }
    .recipe-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    }

    .recipe-card img {
        width: 500px;
        height: auto;
        border-radius: 10px;
    }

    .recipe-info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }


    

}

