
body {
    background-color: #D9EED2;
    margin: 0;
    padding: 0;
}

#content {
    margin: 20px;
}

#title {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#title h1 {
    font-size: 32px;  
    font-family: "Playfair Display", serif;
    color: #2E6F3F;
}

#logo {
    width: 90px;  
    border-radius: 50%;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    padding: 0 10px;
    background: #7BAF6A;
    border-radius: 20px;
}

#searchbar {
    padding: 8px;
    display: flex;
    align-items: center;
    width: 100%;           
    background-color: #FFFFFF;   
    border-radius: 10px;         
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);  
    margin-bottom: 20px;
    box-sizing: border-box;       
}

.searchicon {
    width: 25px;
    height: auto;
    margin-right: 12px;          
}

#searchinput {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
}




#description {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
#howtouse {
    display: flex;
    flex-direction: column;   
    align-items: center;
    width: 100%;
}

#howtouse img {
    width: 100%;        
    max-width: 450px; 
    border-radius: 10px;
    margin: 15px 0;
}

#homebutton {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: "Playfair Display", serif;

}

#homebutton:hover {

    background-color: #2E6F3F;
}


@media (min-width: 600px) {
    #title h1 {
        font-size: 40px;
    }
    #logo {
        width: 120px;
    }
    p {
        font-size: 1.1rem;
        max-width: 400px;
    }
}



@media (min-width: 800px) {

    #howtouse {
        flex-direction: row;  
        justify-content: center;
        gap: 20px;
    }

    #howtouse img {
        width: 50%;            
        max-width: 400px;
        margin: 0;
    }

    #howtouse p {
        width: 50%;           
        text-align: left;
        font-size: 1.1rem;
        padding: 0 15px;
    }

    #title h1 {
        font-size: 50px;
    }

    #logo {
        width: 130px;
    }

    
    
}