body {
    background-color: #D9EED2;
}
#content {
    margin: 30px;
}
#title {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
#title h1 {
    font-size: 50px;
    font-family: "Playfair Display", serif;
    color: #2E6F3F;
}

#logo {
    width: fit-content;
    max-width: 133.5px; 
    border-radius: 50%;
}

p {
    font-family: "Inter", sans-serif;
    justify-self: center;
    font-size: 1.1em;
}

#description img {
    min-width: 450px;
    max-width: 450px; 
    border-radius: 8px;
    margin: 10px 0;
}

/* #description img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    margin: 10px 0;
} */


#description img {
    width: 20%;
}

#description p {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center; 
    line-height: 1.5;
}

#description {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

#startsearching {
    width: 100%;
    max-width: 473px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #2E6F3F;
    font-size: 1.3rem;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}



